


.container00 {
    &.container01 {
      background-image: url(../../images/01Home.jpg);
    }
    &.container02 {
      background-image: url(../../images/02Home.gif);
    }
    &.container03 {
      background-image: url(../../images/03Home.jpg);
    }
    &.container04 {
      background-image: url(../../images/04Home.jpg);
    }
  }

  .titlePadding{
    padding-top: 200px;
  }

  .shortTitle {
    width: 550px;
    margin-bottom: -25px;
  }
  .mediumTitle {
    width: 650px;
    margin-bottom: -25px;
  }

  @media (max-width: 750px) {
    .titlePadding {
      padding-top: 120px;
    }
  
  
    .shortTitle {
      width: auto;
      font-size: 50px;
    }
  
  
    .mediumTitle {
      width: auto;
      font-size: 50px;
    }
  } ;

